.signInContainer {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem 0;
    width: 100%;
    height: 100vh;
	background-image: url("../../assests/Desktop - 21.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.heading h1 {
	font-size: 3.5rem;
	text-align: left !important;
	width: 80vw;
}

.heading img {
	width: 40%;
}

.bridge {
	margin-top: -10px;
}

.signInButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.6rem;
}

.signInButtons button {
	padding: 0.8rem 9rem;
	background-color: #FF4317;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	color: white;
}

.whiteButton {
	background-color: white !important;
	color: black !important;
}